In [5]:
import pandas as pd

In [8]:
df= pd.read_csv(r"C:\Users\milly\Soumu_project\MachineLearning_milly.csv")

In [9]:
df

     x          y
0    0   12.30257
1    1   20.19440
2    2   53.47424
3    3   60.52269
4    4   61.85855
5    5   70.42899
6    6   86.55053
7    7   54.28762
8    8   69.02268
9    9  100.46990
10  10  106.92440
11  11  115.73680
12  12   74.14187
13  13  126.52210
14  14  119.94320
15  15  139.90980
16  16  133.76490
17  17  152.98180
18  18  157.53150
19  19  164.23070
20  20  130.21530
21  21  136.05190
22  22  160.70530
23  23  184.73240
24  24  152.87350
25  25  164.47650
26  26  169.64880
27  27  187.07670
28  28  174.13970
29  29  217.33140
30  30  198.05070

In [10]:
import numpy as np
from scipy.optimize import linprog

c = np.array([5, 10, 8]) # coefficients for the objective function
A = np.array([[1, 1, 1], [3, 5, 2]]) # coefficients for the constraints
b = np.array([72, 60]) # right-hand side of the constraints
x0_bounds = (0, None) # lower and upper bounds for x0 (admin staff)
x1_bounds = (0, None) # lower and upper bounds for x1 (astronauts)
x2_bounds = (0, None) # lower and upper bounds for x2 (engineers)

# Use linprog from the scipy library to solve the optimization problem
res = linprog(c, A_ub=A, b_ub=b, bounds=[x0_bounds, x1_bounds, x2_bounds], method='simplex')

# Resulting solution
admin_staff = int(res.x[0])
astronauts = int(res.x[1])
engineers = int(res.x[2])

# The maximum funding
funding = 5 * admin_staff + 10 * astronauts + 8 * engineers

print("Admin Staff:", admin_staff)
print("Astronauts:", astronauts)
print("Engineers:", engineers)
print("Max Funding:", funding)

Admin Staff: 0
Astronauts: 0
Engineers: 0
Max Funding: 0

C:\Users\milly\AppData\Local\Temp\ipykernel_9832\600847243.py:12: DeprecationWarning: `method='simplex'` is deprecated and will be removed in SciPy 1.11.0. Please use one of the HiGHS solvers (e.g. `method='highs'`) in new code.
  res = linprog(c, A_ub=A, b_ub=b, bounds=[x0_bounds, x1_bounds, x2_bounds], method='simplex')